.main-drop-container {
  border: 1px solid whitesmoke;
  border-radius: 5px;
}

.drop-content {
  position: relative;
  border-top: 1px solid whitesmoke;
}

.main-drop-container .drop-content:first-child {
  border-top: 0px;
}

.main-drop-container .drop-content:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.drop-content button {
  width: 100%;
  height: auto;
  background-color: #0b052a00;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px;
}

.drop-text {
  opacity: 0;
  max-height: 0;
  transition: opacity 2.3s ease, max-height 2.3s ease;
  overflow: hidden;
  background-color: #0b052a00;
  color: whitesmoke;
  border-top: 1px solid whitesmoke;

  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.drop-text p {
  padding: 0.8rem;
}

.drop-content.open .drop-text {
  opacity: 1;
  max-height: 1400px;
  /* padding: 20px; */
}
