.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: azure;
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 10px;
  padding: 10px 20px;
  position: relative;
  
  
  z-index: 1;
}

.nav-logo {
  display: flex;
  align-items: center;
  font-family: Outfit;
  font-size: 22px;
  font-weight: 500;
}

.nav-logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: azure;
}

.nav-logo-img {
  width: 50px; /* Adjusted size for responsiveness */
  height: auto;
  margin-right: 10px;
}

.nav-content {
  display: flex;
  align-items: center;
}

.nav_menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 18px;
  gap: 30px;
  margin: 0;
}

.nav-link a {
  text-decoration: none;
  color: azure;
  transition: color 0.3s;
}

.nav-link a:hover {
  color: orangered;
}

.nav-link a:active,
.nav-link a:focus {
  color: azure;
  outline: none; /* Remove outline on focus */
}

.nav-contact {
  border-radius: 50px;
  padding: 10px 38px;
  color: #262626;
}

.nav-dropdown {
  position: relative;
  display: inline-block;
}

.nav-dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8); /* Transparent dropdown */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateY(-10px);
}

.nav-dropdown:hover .nav-dropdown-content {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.nav-dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.nav-dropdown-content a:hover {
  color: orangered; 
}

/* Sidebar Styles */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0; /* Change from left to right */
  background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent background */
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar.open {
  width: 250px; /* Adjust the width as needed */
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: azure;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: orangered;
}

.sidebar .closebtn {
  position: absolute;
  top: 20px;
  left: 25px; /* Change from right to left */
  font-size: 36px;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  position: absolute; /* Ensure it is positioned correctly */
  right: 20px; /* Position on the right */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-content {
    display: none;
  }

  .hamburger {
    display: block;
    color: azure;
  }
  
}
